/* ===== GRID DISTRIBUCIÓN DEL MENÚ ===== */

/* Contenedor adaptativo de Categorías */
.categorias_menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Rejilla de productos fluida con auto-fit */
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 35px;
    padding: 10px 0 80px;
}


/* ===== RESPONSIVE GRID CONTROL ===== */

@media (max-width: 1024px) {
    .productos {
        gap: 25px;
    }
}

@media (max-width: 768px) {
    .categorias_menu {
        justify-content: flex-start; /* Permite arrastrar de lado las categorías en móvil */
    }
    
    .productos {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
    }
}